<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.sound_boy">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<application android:label="Sound Boy" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.GET_TASKS" />
</manifest>